@font-face {
    font-family: "IBM Plex Mono";
    src: url(assets/ibm-plex-mono.woff), url(assets/ibm-plex-mono.woff2);
}

@font-face {
    font-family: "Young Serif";
    src: url(assets/youngserif.woff), url(assets/youngserif.woff2);
}


body {

    font-family: "IBM Plex Mono";
    font-size: 1rem;
    line-height: 1.6;

    background-color: #ffffff;
    color: #2a2a2a;

    margin: 0;

}

h1 {
    font-size: 24px;
    font-weight: 700;
}


main {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    min-height: 100vh;

    transition: transform 0.5s;
 
}

main.open {
    transform: translate(240px, 0);
}

nav {
    position: fixed;
    top: 0;
    left: -240px;
    width: 240px;
    height: 100vh;

    background-color: #00b98d;
    color: #ffffff;

    font-family: "Young Serif";
    font-size: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: left 0.5s;
    z-index: 2;

}


nav.open {
    left: 0;
} 


nav a {
    color: #ffffff;
    text-decoration: none;

    margin: 5px 32px;
}
